[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
watchdog = "*"
fabric3 = "*"

[packages]
aiohttp = "*"
supervisor = {git = "https://github.com/Supervisor/supervisor"}
jinja2 = "*"
aiomysql = "*"
markdown2 = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
